# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl

# User files
*.tfvars

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored editor files
*.swp
.vscode/

# Module compiled files
modules/**/.terraform
modules/**/*.tfstate*
